body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*header*/

.header{
  display: flex; 
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
}
.links{
  position:absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

a{
  margin-left: 20px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.right-menu{
  display: none;
}

.left-menu{
  display: none;
}

.bi-list{
  margin-left: 20px;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.navlink{
  padding: 0 80px;
  display: block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.navlink ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navlink ul li{
  display: inline-block;
  padding: 14px 5px 11px 5px;
}
.navlink li a{
  text-decoration: none;
  margin: 0 0 0 30px;
  padding: 14px 5px;
}


/*..........................Home................................*/
.main-heading{
  text-align: center;
}
.accessories{
  border-left: 1px solid black;
  border-top: 1px solid black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.accessories-item{
  flex-basis: 33.3333%;
  height: 100%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
}
.accessories-image{
  height: calc(9/22 * 100vw);
  display: grid;
  place-items: center;
  overflow: hidden;
}
.item-description{
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
}
.accessories-carousel-image{
  display: none;
}
/*carousel*/
.carousel-item{
  width: 100%;
  background-color: white;
  min-height: calc(9/20 * 100vw);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: pink;
}

/*left-right carousel button*/
.react-multiple-carousel__arrow {
  background: transparent!important;
  opacity: 1!important;
}

.react-multiple-carousel__arrow::before {
  font-size: 50px!important;
  color: grey!important;
}

.react-multiple-carousel__arrow--right {
  right: calc(1% + 1px)!important;
}

.react-multiple-carousel__arrow--left {
  left: calc(1% + 1px)!important;
}
/*Shop the look*/
.carousel-item h3{
  display: none;
}

.carousel-item-right h3{
  display: block;
}

.carousel-item-left{
  flex-basis: 50%;
  height: 100%;
}

.carousel-item-right{
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop-the-look-item{
  width: 45%;
  border: 1px solid black;
  position: relative;
}
.shop-the-look-image{
  min-height: calc(9/35* 100vw);
}
.shop-the-look-description{
  width: 100%;
  min-height: 65px;
  border-top: 1px solid black;
}

/*Offer*/
.offer{
  margin-bottom: 10px;
}
.offer-item{
  height: calc(9/24 * 100vw);
  position: relative;
}
.offer-image{
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.offer-card{
  position: absolute;
  width: 60%;
  min-height: calc(9/40 * 100vw);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}
.react-multi-carousel-dot button {
  width: 8px!important;
  height: 8px!important;
  border-width: 0!important;
  padding: 0!important;
  margin: 20px!important;
  margin-right: 0!important;
}
/*Model*/
.model{
  border-bottom: 2px solid white;
  height: calc(9/47 * 100vw);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.model-item{
  flex-basis: 20%;
  height: 100%;
  border: 2px solid white;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.insta-link{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0);
  transition: all 0.3s ease;
}
.model-item:hover .insta-link{
  background-color: rgba(0,0,0, 0.5);
}
.insta-link a{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
.model-item:hover .insta-link a{
  display: block;
}
/*features*/
.features{
  background-color:black;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 30px;
}
.feature-item{
  flex-basis: 27%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.feature-item .bi{
  font-size: 20px;
  color: white;
}

/*............................Footer...............................*/
.footer{
  width: 100%;
  background-color: black;
  color: white;
  padding: 75px 55px 40px 55px;
}
input{
  width: calc(100% - 70px);
  line-height: 35px;
}
.footer-top{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer h5, .footer p, .footer a, .footer input{
  color: white;
}



@media screen and (max-width: 768px) {
  /*Header*/
  .links{
    display: none;
  }
  .right-menu{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    display: flex;
    align-items: center;
  }
  .left-menu{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
  }

  .navlink{
    display: none;
  }

  /*Home*/
  .accessories{
    display: none;
  }
  .accessories-carousel{
    border: 1px solid black;
  }
  .accessories-carousel-image{
    min-height: calc(9/20 * 100vw);
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  .accessories-carousel-description{
    height: 100px;
    border-top: 1px solid black;
  }
  .features{
    flex-direction: column;
    padding: 30px 20px 0 20px;
  }
  .offer-item{
    height: calc(12/24 * 100vw);
  }
  .offer-card{
    position: absolute;
    width: 70%;
    min-height: calc(9/20 * 100vw);
    z-index: 10;
  }
  .offer-card h1{
    font-size: 25px;
  }
  .carousel-item{
    flex-direction: column;
    padding: 35px;
  }
  .carousel-item h3{
    display: block;
    text-align: center;
  }
  .carousel-item-right h3{
    display: none;
  }
  .carousel-item-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
  }
  .carousel-item-left img{
    width: 50%!important; 
  }
  .shop-the-look-item{
    width: 50%;
  }
  .shop-the-look-image{
    min-height: calc(9/20* 100vw);
  }
  .shop-the-look-description{
    min-height: 80px;
  }

  /*Footer*/
  .footer{
    padding: 50px 30px 25px 30px;
  }
  .footer-top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer-right{
    margin-top: 40px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  /*Home*/
  .offer-item{
    height: calc(11/24 * 100vw);
  }
  .offer-card{
    position: absolute;
    width: 65%;
    min-height: calc(9/30 * 100vw);
    z-index:10;
  }
  .offer-card h1{
    font-size: 30px;
  }
  /*Shop the look*/
  .shop-the-look-item{
    min-height: calc(9/30 * 100vw);
  }
  /*Footer*/
  .footer{
    padding: 75px 30px 40px 30px;
  }
}

@media screen and (max-width: 620px) {
  /*Home carousel*/
  .carousel-item{
    flex-direction: column;
    padding: 35px;
  }
  .carousel-item h3{
    display: block;
    text-align: center;
  }
  .carousel-item-right h3{
    display: none;
  }
  .carousel-item-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
  }
  .carousel-item-left img{
    width: 70%!important; 
  }
  .shop-the-look-item{
    width: 70%;
  }
  .shop-the-look-image{
    min-height: calc(9/17* 100vw);
  }
  /*Home offer*/
  .offer-item{
    height: calc(11/15 * 100vw);
  }
  .offer-card{
    width: 90%;
  }
  .offer-card h1{
    font-size: 20px;
  }
}
@media screen and (max-width: 420px) {
  /*Home carousel*/
  .carousel-item{
    flex-direction: column;
    padding: 35px;
  }
  .carousel-item h3{
    display: block;
    text-align: center;
  }
  .carousel-item-right h3{
    display: none;
  }
  .carousel-item-left{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
  }
  .carousel-item-left img{
    width: 80%!important; 
  }
  .shop-the-look-item{
    width: 80%;
  }
  .shop-the-look-image{
    min-height: calc(9/13* 100vw);
  }
  /*Home offer*/
  .offer-item{
    height: calc(11/10 * 100vw);
  }

}